@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");

nav {
  background-color: $primaryColor !important;
  box-shadow: none !important;
  font-family: "Francois One", sans-serif !important;

  a {
    &:hover {
      color: white !important;
    }
  }
  ul {
    li {
      // margin-top: 10px;
      .fas {
        font-size: 15px !important;
      }
      a {
        &:hover {
          color: white !important;
        }
      }
    }
  }
  #mobile-nav {
    background-color: $darkThemeBackground;
  }
  .cover-image {
    width: 100%;
    height: 21%;
    background: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;

    .layer {
      background-color: rgba(#000000, 0.5);
      height: 100%;
    }
  }
  @media (max-width: 400px) {
    .cover-image {
      height: 25% !important;
    }
    .user {
      top: 40px;
    }
  }

  .sidenav {
    .user {
      font-size: 20px;
      position: absolute;
      left: 30px;
      top: 50px;
      .user-icon {
        font-size: 40px;
      }
      .user-details {
        font-weight: 400 !important;
        // position: absolute;
        height: 20px;
        line-height: 20px;
        width: 100%;
        p {
          height: 20px;
        }
      }
    }

    .no-user {
      font-size: 60px;
      position: absolute;
      left: 30px;
      top: 80px;
    }
  }
}
.sidenav-trigger {
  a {
    &:hover {
      color: white;
    }
  }
}

.sidenav li > a {
  color: white !important;
}
